.header {
	@apply flex items-center justify-between text-sm font-semibold;
}

.tabs {
	background-color: rgba(0, 0, 0, 0.3);
	/* box-shadow: 0 0 1px 0 rgba(#185ee0, 0.15), 0 6px 12px 0 rgba(#185ee0, 0.15); */
  @apply rounded-lg relative flex h-fit;
}
.tab {
	height: 44px;
	cursor: pointer;
  @apply text-gray-300 flex items-center justify-center relative px-3 cursor-pointer;
}
.tab.active {
	color: #fff;
}
.glider {
	display: block;
	transition: 0.25s ease-out;
  background-color: rgba(0, 0, 0, 0.5);
	@apply h-full rounded-lg absolute;
}


.tabPanelContainer {
	@apply relative mt-2 overflow-auto;
}
.tabPanel {
	transition: transform .5s, opacity .7s;
	transform: translateY(20px);
	@apply absolute invisible opacity-0 w-full py-3;
}
.tabPanel[active="true"] {
	transform: scale(1);
	@apply visible opacity-100;
}
