.container {
  background-size: cover;
}

.groupContentContainer {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 15px;
  /* justify-items: stretch; */
  justify-content: stretch;
  @apply grid;
}