.container {
  height: 120px;
  min-width: 200px;
  font-size: 13px;
  @apply bg-white text-gray-800 rounded-xl p-3 flex-col flex justify-between cursor-pointer;
}

.emoji {
  width: 46px;
  height: 46px;
  font-size: 30px;
  @apply bg-gray-200 flex justify-center items-center rounded-md;
}
.emoji span {
  margin-top: -8px;
}

.container > div {
  @apply flex flex-col;
}
.category {
  font-size: 12px;
  @apply text-gray-400;
}